<div class="modal fade" id="modalAlert" role="dialog" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">
				<h2>Thông báo</h2>
				<p class="notification_content"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalMessage" role="dialog" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">
				<h2>Thông báo</h2>
				<p class="message_content"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<footer class="footer text-white">
	<div class="container">
		<div class="bold col-md-3 col-xs-12">
			<i class="fa-2x notika-icon notika-phone"></i> <span id="phone" data-toggle="tooltip" data-placement="top" title=""
			data-original-title="Gọi tới chúng tôi" class="padding-5 pointer" style="margin-top: -10px; font-size: 1.3em;">097 793 38 07</span>
		</div>
		<div class="bold col-md-9 col-xs-12 text-right">
			<address>
				<i class="fa-2x notika-icon notika-map"></i><span class="padding-5" style="margin-top: -10px;	font-size: 1.3em;"> <span id="bakery_name">Tiệm bánh Thiên Ân - LXSV Gò Vấp</span>
				<br> <span id="bakery_address">380/41	Phạm Văn Chiêu,Phường 9, Quận Gò Vấp, TP. HCM</span></span>
			</address>
		</div>
	</div>
</footer>

<script src="<%=process.env.HOST%>dist/js/jquery.min.js"></script>
<script src="<%=process.env.HOST%>dist/js/jquery-ui.min.js"></script>
<script src="<%=process.env.HOST%>theme/js/bootstrap.min.js"></script>
<script src="<%=process.env.HOST%>theme/js/notification/bootstrap-growl.min.js"></script>
<script src="<%=process.env.HOST%>theme/js/notification/notification-active.js"></script>
<!-- Image crop -->
<script src="<%=process.env.HOST%>dist/plugins/Jcrop/js/jquery.Jcrop.min.js"></script>
<script src="<%=process.env.HOST%>dist/js/plugins/jquery-validate/jquery.validate.min.js"></script>


<script src="<%=process.env.HOST%>dist/js/plugins/bloodhound/bloodhound.js"></script>
<script src="<%=process.env.HOST%>dist/js/plugins/typeahead/typeahead.min.js"></script>
<script src="<%=process.env.HOST%>dist/js/numeral.min.js"></script>
<script src="<%=process.env.HOST%>dist/js/plugins/tags-input-autocomplete/src/jquery.tagsinput-revisited.js"></script>
<!-- wow JS
	============================================ -->
<script src="<%=process.env.HOST%>theme/js/wow.min.js"></script>
<script src="<%=process.env.HOST%>theme/js/owl.carousel.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script> -->
<script>
	const host = "<%=process.env.HOST%>";
	$('#phone').click(function(){
		window.location.href = 'tel:+84'+numeral(this.innerHTML ).value();
	});
</script>
<script src="<%=process.env.HOST%>dist/js/admin.js"></script>